
  .main {
    background: url('/assets/img/The-Must-Have-modules-of-a-Hospital-Management-System-1200x675.jpg');
    background-size:cover !important;
    background-repeat: no-repeat !important;
    background-position: center;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;

  }
  h1{
   color: red;
  }
//   .{
//     margin: auto;
//     // display: flex;
//     justify-content: center;   
//   }